{% extends "base.html" %}

{% block content %}
    <div class="center">
    <div class="container_coments">
        <h1>💬 Comentários</h1>
        <p>Usuário: {{ request.user.username }}</p>

        <form action="{% url 'comentarios' %}" method="POST">
            {% csrf_token %}
            <textarea name="texto" rows="4" placeholder="Escreva seu comentário aqui..."></textarea>
            <button type="submit">Enviar</button>
        </form>

        <h2>📝 Comentários Anteriores:</h2>
        <ul>
            {% for comentario in comentarios %}
                <li>
                    <strong>{{ comentario.user.username }}:</strong> {{ comentario.texto }} <br>
                    <small>📅 {{ comentario.data_criacao }}</small>
                </li>
            {% empty %}
                <li>Nenhum comentário ainda.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'logout' %}" class="logout-link">Sair</a>
    </div>
    </div>
{% endblock %}