{% extends "base.html" %}

{%block content %}
    <div class="center">
    <div class="form-container">
        <h1>Login</h1>
        <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>

            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'create_user' %}">Crie uma aqui</a></p>
    </div>
    </div>
{% endblock %}